@font-face{
    font-family: "Poppins";
    src: url("../Assets/Poppins-Medium.ttf");
}

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Poppins";
    font-size: 13px;
    color: #000000dd;
}

.top .header{
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100%;
}
.top .header h3{
    font-size: 23px;
    margin: 1.3% 0 0 .7%;
    letter-spacing: 1px;
}

.top .header img{
    width: 30px;
    height: 30px;
    margin: 1.4% 0 0 0;
}

form{
    position: sticky;
    left: 0;
    top: 0;
    height: 85px;
    width: 100%;
    border-bottom: 1px solid #00000011;
    background-color: #ffffff;
    overflow: hidden;
}

form #searchBar{
    width: 80%;
    margin: 2% 0 0 2%;
    height: 35px;
    font-size: 16px;
    color: #000000dd;
    border: 1px solid #00000055;
    border-radius: 5px;
    padding-left: 7px;
    outline: none;
    font-family: "Poppins";
}
form #searchButton{
    width: 50px;
    height: 50px;
    margin: 0 0 0 5%;
    border: 0;
    border-radius: 3px;
    color: white;
    background-color: tomato;
    cursor: pointer;
}

.productDiv h3{
    font-size: 19.6px;
    margin: 3px 0 0 5px;
    width: fit-content;
}

.productDiv .products{
    width: 95%;
    margin: 1% 0 0 2%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.product{
    width: 12rem;
    height: 20rem;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    border-radius: 5px;
    cursor: pointer;
    margin: 15px 0 10px 32px;
    text-align: center;
    font-size: 15px;
    overflow: hidden;
    transition: .5s;
}
.product:hover{
    box-shadow: 0 0 12px .9px #00000033;
}

.product img{
    height: 144px;
    width: 144px;
    margin: 10px 0 0 0;
}

.product h4{
    font-size: 20px;
    font-weight: lighter;
    color: black;
    margin-top: 28%;
}

.product .fa-heart{
    color: #f35454;
    width: 20px;
    height: 20px;
    z-index: 1000;
    margin: 1% 0 0 80%;
}

@media screen and (max-width: 850px){
    form #searchBar{
        margin: 4% 0 0 2%;
    }
}

@media screen and (max-width: 480px){
    .productDiv .products{
        margin: 1% 0 0 0;
    }

    form #searchButton{
        margin: 0 0 0 2%;
    }
    
    form #searchBar{
        margin: 6% 0 0 2%;
    }
}

@media screen and (max-width: 471px){
    .productDiv .product{
        width: 20rem;
        height: 25rem;
        margin: 15px 0 10px 10px;
    }

    .productDiv .product img{
        height: 164px;
        width: 164px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 390px){
    form #searchBar{
        margin: 7% 0 0 1%;
    }
    form #searchButton{
        margin: 0 0 0 1%;
        height: 40px;
        width: 40px;
    }
}

@media screen and (max-width: 290px){
    form #searchBar{
        width: 75%;
    }
}